.home-body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    
}

.row{
    margin: 0;
    max-width: 100%;
}

#regrow, #logrow {
    min-height: 100%;
}

.col-sm-9 {
    margin: 0;
    padding: 0;
    z-index: -1;
}

.image {
    background-color: cornflowerblue;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    
}
